
.aboutMe {
  width: 100%;
  height: 100vh;
  flex-direction: column;

  .userPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px 72px 16px;

    .textBlock {
      margin-top: 12px;
      display: flex;

      .name {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        color: #000000;
      }

    }

    .avatar {
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }


    .images,
    .memes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 50px;
    }
  }

}

.descriptionBlock {
  font-family: "Montserrat", sans-serif;
  margin-top: 16px;
  font-size: 18px;
  line-height: 24px;

  .about {
    text-align: center;
  }

  .description {
    border-radius: 8px;
    padding: 16px;
    background: #EAEAEA;
    margin-top: 12px;
  }
}

.sliderContainer {
  max-height: 104px;
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 18px;

  .memeImg {
    border: 2px solid #EAEAEA;
    min-width: 100px;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
  }
}