.cardContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: calc(100vh - 136px);
  overflow: hidden;
  background: linear-gradient(45deg, #ffbc69, #f680ac),
  linear-gradient(135deg, #c290e8, #fae771);
  background-blend-mode: soft-light;

  user-select: none;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.top{
  color: yellow;
}
.heart{
  color: red;
}
.mark{
  color: white;
}
.icon{
  top: 20px;
  right: 20px;
  position: absolute;
  width: 30px;
  height: 30px;
}