.aboutMe {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .card {
    display: flex;
    box-sizing: border-box;
    flex: 1 0 auto;
    max-height: calc(100% - 172px);
    padding: 32px 16px;
    overflow: hidden;
    .cardInfo{
      box-sizing: border-box;
      border-radius: 12px;
      width: 100%;
      background: #696eff;
      height: 100%;
    }
  }

  .states {
    position: absolute;
    bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .point {
      margin: 0 12px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background: lightgray;
    }
    .selectPoint:after{
      border-radius: 50%;
      margin: 5px;
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: black;
    }
  }
}